<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head :: head('Main')}" />
</head>
<body>
<a th:href="@{/user}">href - user list</a>

<div>
    <th:block th:include="~{fragments/authentication :: logout('/logout')}" />
</div>
<div>
    <form th:action="@{/main}" method="post" enctype="multipart/form-data">
        <input type="text" name="text" placeholder="Please enter text"/>
        <input type="text" name="tag" placeholder="Please enter tag"/>
        <input type="file" name="file" placeholder="Please enter file">
        <button type="submit">Добавить</button>
    </form>
</div>

<div>
    <form th:action="@{main}" method="get">
        <input type="text" name="filter" placeholder="Please enter filter tag">
        <input type="submit" value="Найти">
    </form>
</div>

<div>Список сообщений</div>
<div th:each="mes : ${messages}">
    <b th:text="${mes.id}"></b>
    <span th:text="${mes.text}"></span>
    <i th:text="${mes.tag}"></i>
    <strong th:text="${mes.getAuthorName()}"></strong>
    <strong th:text="${mes.getAuthorName()}"></strong>
    <div th:if="${mes.fileNameExist()}">
        <img th:src="@{|/img/${mes.fileName}|}">
    </div>
</div>
</body>
</html>