<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/style :: head('Registration')}"/>
</head>
<body>
<th:block th:include="~{fragments/navbarNavigation :: navbar}"/>
<div class="container mt-5">
    <div style="color:#ff0000">
        <th:block th:if="${message != null}" th:text="${message}"/>
    </div>
    <div>Registration page</div>
    <div>
        <th:block th:include="~{fragments/authentication :: footer('/registration', false, 'Create')}"/>
    </div>
    <th:block th:include="~{fragments/style :: legs}"/>
</div>
</body>
</html>